.index-content-box {
    width: 100%;
    height: calc(100% - 60px);
    background-color: #f9f9f9;
    padding: 15px;
    min-width: 1300px;
    overflow: auto
}
.content-box {
    background-color: #fff;
    padding: 15px;
    height: calc(100% - 38px);
    overflow: auto;
    box-shadow: 0 5px 10px 11px rgba(0, 0, 0, 0.05)
}
.title-active {
    background: rgba(0, 0, 0, .4);
    color: #fff;
    transition: all .5s;
    left: 0;
    top: 0;
    width: 144px;
    height: 60px;
    position: absolute
}
.index-content-title {
    font-size: 16px;
    padding: 10px 0;
}
.index-search-box {
    display: inline-block;
    background-color: #f7f7f7;
    width: 100%;
    padding: 15px 20px;
}
.index-search-two-font {
    width: 60px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    float: left;    
}
.index-search-description-box {
    width: calc(60% - 60px);
    display: inline-block;
}
.index-create-textarea {
    width: 350px;
    height: 150px;
    resize: none;
    border-color: rgba(0, 0, 0, .2);
    padding: 5px
}
.index-search-four-font {
    width: 100px;
    text-align: right;
    float: left;
    height: 30px;
    line-height: 30px;
    display: inline-block
}
.index-search-four-input {
    width: calc(100% - 110px);
}
.index-create-four-input {
    width: 400px;
}
.index-create-four-select {
     width: 150px;
     height: 30px;
     display: inline-block;
     background: #fff;
}
.index-search-four-select {
     width: calc(100% - 130px);
     height: 30px;
     text-align: center;
     display: inline-block;
     background: #fff;
}
.search-button {
    width: 96px;
    height: 34px;
    line-height: 34px;
    font-size: 14px;
    color: white;
    text-align: center;
    background-color: #3896F8;
    border: none;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    padding: 0;
}
.pre-next-button {
    width: 96px;
    height: 34px;
    line-height: 34px;
    font-size: 14px;
    color: #3896F8;
    background-color: transparent;
    text-align: center;
    border: 1px solid #3896F8;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    padding: 0
}
.reset-button {
    width: 60px;
    height: 34px;
    line-height: 34px;
    font-size: 14px;
    color: #3896F8;
    text-align: center;
    border: none;
    background-color: transparent;
    padding: 0
}
.operat-button {
    display: inline-block;
    border: none;
    background-color: transparent;
    color: #3896F8;
    padding: 0 5px;
}
.index-search-question-box {
    display: inline-block;
}
.table-total {
    display: table;
    line-height: 34px;
    padding: 10px 0;
    width: 100%;
}
.table-box {
    display: inline-block;
    width: 100%;
}
.table-head {
    background: #f7f7f7;
}
.table-head li {
    height: 46px;
    line-height: 46px;
    text-align: center;
    float: left;
    background: #f7f7f7;
}
.table-body {
    width: 100%;
    display: inline-block
}
.table-body li {
    height: 46px;
    text-align: center;
    line-height: 46px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    float: left;
}
.history-content-box {
    background-color: #fff;
    padding: 20px 40px;
    font-size: 18px
}
.history-head {
    line-height: 60px;
    border-bottom: 1px solid rgba(0, 0, 0, .4)
}
.history-chart {
    margin-top: 35px;
}
.answer-question-head-box {
    line-height: 40px;
    border-bottom: 1px solid rgba(0, 0, 0, .4);
    padding-top: 15px
}
.answer-question-head-title {
    font-size: 24px;
    font-weight: 600;
    padding-right: 20px;
}
.answer-question-head-rule {
    font-size: 18px;
    cursor: pointer;
    padding: 2px 0;
    position: relative;
    font-weight: 100;
    color: #3896F8;
    bottom: 3px
}
.answer-question-head-num {
    color: rgba(0, 0, 0, .4);
    font-size: 14px;
}
.answer-question-body-box {
    padding: 45px 0 0 25px;
}
.answer-gap {
    margin-bottom: 70px;
    font-size: 16px;
}
.radio-box {
    padding-left: 10px;
    padding-right: 30px;
}
.left-gap {
    padding-left: 100px;
}
.index-detail-four-font {
    width: 100px;
    text-align: center;
    font-size: 20px;
    float: left;
    color: rgba(0, 0, 0, .4)
}
.index-detail-line {
    width: calc(100% - 100px);
    height: 1px;
    display: inline-block;
    margin: 11.5px 0;
    background-color: #E3E3E4;
}
.create-box {
    float: right;
    display: inline-block;
}
.uploadShow {
    display: inline-block;
    border: 1px solid rgba(0,0,0,.2);
    background: rgba(0,0,0,.1);
    cursor: pointer;
    text-align: center;
    line-height: 120px;
    width: 120px;
    height: 120px
}
.uploadInput {
    opacity: 0;
    position: absolute;
    margin-left: 100px;
    left: 0;
    display: inline-block;
    border: 1px solid rgba(0,0,0,.2);
    background: rgba(0,0,0,.1);
    cursor: pointer;
    text-align: center;
    line-height: 120px;
    width: 120px;
    height: 120px
}
.chart-bar {
    height: 600px;
    width: 100%;
    display: inline-block
}
.addButton {
    margin: 20px 0 0 100px;
}
.choose-box {
    display: inline-block
}
.choose-box span {
    margin: 0 2px;
    padding: 0 5px;
    cursor: pointer;
    position: relative
}
.choose-box span::before {
    content: '';
    width: 0;
    bottom: -4px;
    height: 2px;
    left: 50%;
    position: absolute;
    transition: all .3s;
}
.choose-box span::after {
    content: '';
    width: 0;
    bottom: -4px;
    right: 50%;
    height: 2px;
    position: absolute;
    transition: all .3s;
}
.choose-box span:hover::before {
    content: '';
    width: 50%;
    background: #3896F8
}
.choose-box span:hover::after {
    content: '';
    width: 50%;
    background: #3896F8
}
.choose {
    color: #3896F8
}
.inside-goods_box {
    display: inline-block;
    margin: 10px 5px;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, .2);
    cursor: pointer;
    transition: all .5s;
    width: calc(20% - 10px)
}
.inside-goods_box:hover {
    border: 1px solid transparent;
    box-shadow: 0 2px 7px 3px #ddd;
    transition: all .5s;
}
.shopImg {
    padding: 0 2%;
    width: 96%;
    height: 200px;
    transition: all .5s;
}
.shopImg:hover {
    padding: 0;
    width: 100%;
    transition: all .5s;
}
.shop-description-box {
    display: inline-block;
    padding: 15px 0;
    width: 100%;
}
.priceShow {
    color: red;
    font-family: '微软雅黑';
    font-weight: 700;
    font-size: 18px;
}
.icon {
    font-size: 14px;
}
.payPeople {
    float: right;
    color: rgba(0, 0, 0, .4)
}
.showDescription {
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    white-space: nowrap;
    padding: 10px 0;
    text-indent: 1em
}
.detail-img {
    width: 100%;
    height: 100%;
    min-height: 400px;
}
.shop-detail-box {
    width: 400px;
    margin-left: 6%;
    height: 400px;
    text-align: center;
    display: inline-block;
    border: 1px solid rgba(0, 0, 0, .3)
}
.shop-detail-description-box {
    display: inline-block;
    width: 50%;
    min-width: 400px;
    height: 400px;
    margin-left: 6%;
    overflow: scroll;
    position: absolute;
}
.detail-font-title {
    font-size: 24px;
    font-weight: 900;
    color: black
}
.detail-price-show {
    font-weight: 700;
    font-size: 18px;
    color: red;
}
.same_shop_title {
    margin-top: 50px;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 0;
    border-bottom: 3px solid rgba(0, 0, 0, .2) 
}
.no_shop_style {
    text-align: center;
    font-size: 18px;
    padding: 50px 0;
}
.head-box {
    width: 100%;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 700;
    border-bottom: 2px solid rgba(0, 0, 0, .2);
    margin: 10px 0;
}
.all-car-shop-box {
    margin: 20px 0;
    padding: 20px 0;
    border: 1px solid rgba(0, 0, 0, .2)
}
.small-car-box {
    margin: 10px 0;
    display: inline-block;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    border-top: 1px solid rgba(0, 0, 0, .2);
    background: rgba(0, 0, 0, .1);
    padding: 15px
}
.small-car-box li {
    float: left
}
.car-delete-button {
    cursor: pointer;
    color: #3896F8;
    line-height: 70px;
    font-weight: 600
}
.doller-total {
    float: right;
}
.doller-remain {
    font-weight: 100;
    font-size: 15px;
    color: rgba(0, 0, 0, .4)
}
.doller-balance {
    padding: 3px 15px;
    color: white;
    background: red;
    cursor: pointer
}
.left-info {
    width: calc(20% - 2px);
    border-right: 2px solid rgba(0, 0, 0, .2);
    padding: 25px 10px; 
    height: 100%;
    float: left
}
.right-info {
    width: 80%;
    height: 100%;
    float: right
}
.person-info-title {
    font-size: 18px;
    padding: 5px 0;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    font-weight: 600;
    margin: 20px 0;
}
.person-info {
    font-size: 14px;
    margin-bottom: 20px
}