.head {
  background-color: #324057;
  height: 60px;
  width: 100%;
  min-width: 1300px;
}
.title {
  float: left;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  padding: 0 60px 0 20px;
  line-height: 60px;
}
.title-choice {
  float: left;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  width: 144px;
  text-align: center;
  line-height: 60px;
}
.logout {
  float: right;
  font-size: 14px;
  line-height: 60px;
  padding-right: 50px
}
.logout span {
  padding: 0 5px;
  color: #fff;
}
.login-box {
  display: inline-block;
  height: 400px;
  width: 580px;
  background-color: #fff;
  font-size: 18px;
  font-weight: 600;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  border-radius: 10px;
}
.login-head {
  height: 50px;
  line-height: 50px;
  text-align: center;
  border-bottom: 1px solid rgba(0, 0, 0, .3);
}
.login-body {
  width: 100%;
  text-align: center;
  height: 300px;
}
.input-style {
  height: 35px;
  width: 40%;
  padding: 0 10px;
  line-height: 35px;
  border-radius: 5px;
  border-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.login-button {
  width: 180px;
  height: 40px;
  line-height: 40px;
  border-radius: 2px;
  background-color: #3896F8;
  color: #fff;
  outline: none;
  cursor: pointer;
  border-style: none;
  margin-top: 10px
}
.login-module {
  padding-top: 40px;
  display: inline-block;
  width: 100%;
  text-align: center;
}
.register-module {
  padding-top: 20px;
}
.login-footer {
  line-height: 50px;
  text-align: center;
  border-top: 1px solid rgba(0, 0, 0, .3);
}
.remain-font {
    color: red;
    position: absolute;
    top: 34px;
    left: 0;
}
.button-width {
  width: 180px
}