<template>
  <div class="index-content-box a100">
    <p class="index-content-title">
        <router-link to="/index/AnswerTask" style="color:black">答题任务</router-link>
        <span>></span> <span>答题</span>
    </p>
    <div class="content-box">
        <div class="answer-question-head-box">
            <p>
                <span class="answer-question-head-title">{{radioSet.description.task_name}}</span>
                <span class="answer-question-head-rule">
                    <el-button type="text" @click.native="answerRule">答题规则</el-button></span>
            </p>
            <p class="answer-question-head-num">
                共<span>{{radioSet.description.progress[1]}}</span>道题，已答
                <span>{{radioSet.total}}</span>题
            </p>
        </div>
        <div class="answer-question-body-box" v-if="radioSet.description.type === '单选' && radioSet.question.length > 0">
            <p class="answer-gap">
                <span class="index-search-two-font">标题：</span>
                <span class="index-search-description-box">
                    {{ radioSet.question[position].title }}
                </span>
            </p>
            <p class="answer-gap">
                <span class="index-search-two-font">内容：</span>
                <pre class="index-search-description-box" v-html="radioSet.question[position].content">
                </pre>
            </p>
            <p class="answer-gap">
                <span class="index-search-two-font">答案：</span>
                <span class="radio-box" v-for="(item, index) in radioSet.question[position].candidates">
                    <input type="radio" name="answer" v-model="user_answer" :id="'question'+index" :value="item">
                    <label :for="'question'+index" class="pointer">{{item}}</label>
                </span>
            </p>
            <p class="answer-gap left-gap">
                <button class="pre-next-button" v-on:click="nextQuestion">跳过</button>
                <button class="search-button" v-on:click="submitQuestion(radioSet.question[position]._id)">再来一题</button>
            </p>
        </div>
        <div class="answer-question-body-box" v-if="radioSet.description.type === '多选' && radioSet.question.length > 0">
            <p class="answer-gap">
                <span class="index-search-four-font fl">企业名称：</span>
                <span class="index-search-description-box" >
                    {{ radioSet.question[position].company_name }}
                </span>
            </p>
            <div class="answer-gap">
                <span class="index-search-four-font">答案：</span>
                <span class="radio-box" v-for="(item, index) in radioSet.question[position].candidates">
                    <input type="checkbox" name="answer" v-model="many_answer" :id="'question'+index" :value="item">
                    <label :for="'question'+index" class="pointer">{{item}}</label>
                </span>
                <div v-for="(value, n) in choiceItem" class="addButton">
                    <input type="checkbox" name="answermore" v-model="answerMore" :value="value.answer">
                    <input type="text" placeholder="请输入其他选项名称，不超过x字" class="w30" v-model="value.answer">
                    <span class="uploadShow" v-on:click="reduceItem(n)">删除</span>
                </div>
                 <p style="margin-top: 15px"><span class="uploadShow addButton" v-on:click="addItem">+ 新增选项</span></p>    
            </div>
            <p class="answer-gap left-gap">
                <button class="pre-next-button" v-on:click="nextQuestion">跳过</button>
                <button class="search-button" v-on:click="submitQuestion(radioSet.question[position]._id)">再来一题</button>
            </p>
        </div>
        <div class="answer-question-body-box" v-if="radioSet.question.length === 0">暂无符合条件的题目可以回答</div>
    </div>
  </div>
</template>
<script>
import toast from './common/toast'
import fetch from 'isomorphic-fetch'
import 'src/assets/main_page/index.css'
export default {
  name: 'answerQuestion',
  data () {
    return {
      choiceItem: [],
      answerMore: [],
      radioSet: {
        description: {
          task_name: '',
          progress: []
        },
        question: []
      }, // 单选题集
      multiple: [], // 多选题集
      position: 0, // 题的位置
      user_answer: '',
      many_answer: []
    }
  },
  created: function () {
    this.fetchData()
  },
  methods: {
    fetchData: function () {
      let _self = this
      fetch('/login/allquestion?table=' + this.$route.params['title'] + '&user=' + window.localStorage.username).then(function (response) {
        return response.json()
      }).then(function (data) {
        if (data.status === 0) {
          _self.radioSet = data.data
          for (let value in _self.radioSet.question) {
            console.log(_self.radioSet.question[value].content.indexOf('\n'))
            _self.radioSet.question[value].content.replace(/\r\n/g, 'dhsjkalhdkfhjk')
          }
        } else {
          toast.methods.open(_self, 'warning', '获取数据失败')
        }
      })
    },
    addItem: function () {
      this.choiceItem.push({answer: ''})
    },
    reduceItem: function (n) {
      this.choiceItem.splice(n, 1)
    },
    answerRule: function () {
      let rule = this.radioSet.description.rule_path ? this.radioSet.description.rule_path : '暂无规则'
      this.$alert(rule, '答题规则.pdf', {
        confirmButtonText: '确定'
      })
    },
    preQuestion: function () {
      if (this.position === 0) {
        toast.methods.open(this, 'warning', '已经是第一题')
      } else {
        this.position = this.position - 1
      }
    },
    nextQuestion: function () {
      this.user_answer = ''
      this.many_answer = []
      this.choiceItem = []
      if (this.position === this.radioSet.question.length - 1) {
        toast.methods.open(this, 'warning', '已经是最后一道题')
        this.radioSet.question = []
      } else {
        this.position = this.position + 1
      }
    },
    submitQuestion: function (id) {
      let _self = this
      let answer
      this.choiceItem = []
      if (_self.radioSet.question[_self.position].type === '多选') {
        let answerArray = []
        if (_self.many_answer.length === 0 && _self.answerMore.length === 0) {
          answer = ''
        } else {
          answerArray.push(_self.many_answer)
          answerArray.push(_self.answerMore)
          answer = answerArray
          _self.answerMore = []
          _self.many_answer = []
        }
      } else {
        answer = _self.user_answer
        _self.user_answer = ''
      }
      let submit = JSON.stringify({
        'user': '' + window.localStorage.username,
        '_id': id,
        'user_answer': answer,
        'table': _self.$route.params['title']
      })
      if (answer) {
        if (parseInt(_self.position) === _self.radioSet.question.length - 1) {
          toast.methods.open(_self, 'warning', '已经是最后一道题')
          _self.radioSet.question = []
        } else {
          _self.position = parseInt(_self.position) + 1
        }
        fetch('/login/radio_submit', {
          method: 'POST',
          body: submit
        }).then(function (response) {
          return response.json()
        }).then(function (data) {
          if (data.status === 0) {
            _self.radioSet.total = parseInt(_self.radioSet.total) + 1
            toast.methods.open(_self, 'success', data.msg)
          } else {
            toast.methods.open(_self, 'warning', data.msg)
          }
        })
      } else {
        this.nextQuestion()
      }
    }
  }
}
</script scoped>