<template>
  <div class="index-content-box a100" >
    <p class="index-content-title">商品列表</p>
    <div class="content-box">
      <div class="index-search-box">
        <div class="index-search-question-box w25">
          <span class="index-search-four-font">商品名称：</span>
          <input class="index-search-four-input" type="text" 
          placeholder="输入任务名称" 
          v-on:keyup.enter="typeChoose('name', shopName)"
          v-model="shopName">
        </div>
        <div class="index-search-question-box w20">
          <button class="search-button" v-on:click="typeChoose('name', shopName)">查询</button>
        </div>
      </div>
      <div class="index-search-box">
        <div class="index-search-question-box">
          <span class="index-search-four-font" style="height: auto;line-height: 16px">商品类型：</span>
          <div class="choose-box">
            <span v-for="item in typeChoice" v-on:click="typeChoose('type', item)" :class="{'choose': item === shopType}">
              {{item}}
            </span>
          </div>
        </div>
      </div>
      <div class="index-search-box">
        <div class="index-search-question-box">
          <span class="index-search-four-font" style="height: auto;line-height: 16px">商品价格：</span>
          <div class="choose-box">
            <span v-on:click="typeChoose('price', '全部')"
            :class="{'choose': '全部' === startPrice}">全部</span>
            <span v-for="price in priceChoice" 
            v-on:click="typeChoose('price', parseInt(price))" 
            :class="{'choose': parseInt(price) === parseInt(startPrice)}">
              {{price}}
            </span>
          </div>
        </div>
      </div>
      <p class="table-total">共{{data.length}}个商品</p>
      <div class="table-box">
        <div class="outside-goods-box" v-if="data.length > 0">
          <div class="inside-goods_box" v-for="shopDetail, index in data" 
          v-if="index>start &&index<stop"
          v-on:click="goShopDetail(shopDetail._id)">
            <p class="showDescription" style="font-size: 16px;text-indent: 0; color: black">{{shopDetail.shopName}}</p>
            <img :src="shopDetail.shopPicture" alt="图片加载错误" class="shopImg" />
            <div class="shop-description-box">
              <p>
                <span class="priceShow">
                  <i class="icon">￥</i>
                   {{shopDetail.shopPrice}}
                </span>
                <span class="payPeople">{{shopDetail.payPeople?(shopDetail.payPeople):0}} 人付款</span>
              </p>
              <p class="showDescription">
                {{shopDetail.shopDescription}}
              </p>
              <p>
                <button class="operat-button" style="height: 34px" v-on:click="goShopDetail(shopDetail._id)">详情</button>
                <button class="search-button fr" v-on:click="addCar($event, shopDetail._id, shopDetail.shopPicture)">加入购物车</button>
              </p>
            </div>
          </div>
        </div>
        <p class="no_shop_style" v-if="data.length === 0">暂无符合条件的商品</p>
        <div class="block" style="text-align: center" v-if="data.length > 10">
          <el-pagination
            @size-change="handleSizeChange"
            @current-change="handleCurrentChange"
            :current-page="1"
            :page-size="10"
            layout="prev, pager, next, jumper"
            :total="data.length">
          </el-pagination>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import fetch from 'isomorphic-fetch'
import toast from './common/toast'
import 'src/assets/main_page/index.css'
export default {
  name: 'AnswerTask',
  data () {
    return {
      priceChoice: ['0~200', '200~399', '400~599', '600~799', '800~999', '1000以上'],
      typeChoice: ['全部', '衣服', '商品', '医药', '水果', '零食', '电器', '家具', '书籍', '瓷器', '其他'],
      shopName: '',
      shopType: '全部',
      startPrice: '全部',
      start: -1,
      stop: 10,
      data: []
    }
  },
  created: function () {
    this.init()
  },
  methods: {
    init: function () {
      let _self = this
      fetch('/login/search/user?shopName=' + _self.shopName + '&shopType=' + _self.shopType + '&priceStart=' + _self.startPrice).then(function (response) {
        return response.json()
      }).then(function (data) {
        if (data.status === 0) {
          _self.data = data.data
        } else {
          toast.methods.open(_self, 'warning', '获取数据失败')
        }
      })
    },
    typeChoose: function (type, detail) {
      if (type === 'type') {
        this.shopType = detail
      } else if (type === 'price') {
        this.startPrice = detail
      } else if (type === 'name') {
        this.shopName = detail
      }
      this.init()
    },
    goShopDetail: function (id) {
      this.$router.push('/index/shopDetail/' + id)
    },
    handleSizeChange (val) {
      console.log(`每页 ${val} 条`)
    },
    handleCurrentChange (val) {
      this.start = (val - 1) * 10 - 1
      this.stop = this.start + 11
    },
    addCar: function (e, id, imgSrc) {
      // 动画飞到购物车
      e.stopPropagation()
      let _self = this
      let img = document.createElement('img')
      let check1 = false
      let check2 = false
      img.src = imgSrc
      img.style.width = 30 + 'px'
      img.style.height = 30 + 'px'
      img.style.top = e.screenY + document.body.scrollTop + 'px'
      img.style.left = e.screenX + document.body.scrollLeft + 'px'
      img.style.position = 'absolute'
      document.body.append(img)
      let carXY = document.getElementById('shoppingCarXY')
      let topBetween = (carXY.offsetTop - e.screenY) / 100
      let leftBetween = (carXY.offsetLeft - e.screenX) / 100
      let start = setInterval(function () {
        img.style.top = parseInt(img.style.top) + topBetween + 'px'
        if (parseInt(img.style.top) < carXY.offsetTop) {
          clearInterval(start)
          check1 = true
          if (check2) {
            document.body.removeChild(img)
          }
        }
      }, 1)
      let start2 = setInterval(function () {
        img.style.left = parseInt(img.style.left) + leftBetween + 'px'
        if (parseInt(img.style.left) > parseInt(carXY.offsetLeft)) {
          clearInterval(start2)
          check2 = true
          if (check1) {
            document.body.removeChild(img)
          }
        }
      }, 1)
      // 存入数据库
      fetch('/login/car/add', {
        method: 'POST',
        body: JSON.stringify({
          'users': window.localStorage.username,
          'goods_id': id,
          'num': 1
        })
      }).then(function (response) {
        return response.json()
      }).then(function (data) {
        if (data.status === 0) {
          document.getElementById('good_car_num').innerHTML = data.data
          // toast.methods.open(_self, 'success', data.msg)
        } else {
          toast.methods.open(_self, 'warning', data.msg)
        }
      })
    }
  }
}
</script scoped>