<template>
  <div class="index-content-box a100" >
    <p class="index-content-title">所有成交统计</p>
    <div class="history-content-box">
      <div class="history-head">
        <p>
          <span>已完成的订单:</span>
          <span>{{data.length}}</span>
        </p>
      </div>
      <p class="table-total">
        <span>共{{data.length}}个订单已成交</span>
      </p>
      <div class="table-box">
        <ul class="table-head a100 disIn clearfix">
          <li class="w20">订单编号</li>
          <li class="w15">购买者</li>
          <li class="w30">商品列表</li>
          <li class="w15">成交金额</li>
          <li class="w20">成交时间</li>
        </ul>
        <p v-if="data.length === 0" class="no_shop_style">暂无同款商品</p>
        <div class="table-body" v-if="data.length > 0">
          <ul class="a100 disIn clearfix" v-for="item, index in data" style="font-size: 14px" v-if="index>start &&index<stop">
            <li class="w20">{{item._id}}</li>
            <li class="w15">{{item.username}}</li>
            <li class="w30" style="text-align:left">
              <img v-for="member in item['goods']" :src="member.detail.shopPicture" 
              v-on:click="gotoDetail(member.detail._id)"
              style="width: 20px;height: 20px; margin:0 10px; cursor:pointer">
            </li>
            <li class="w15">{{item.doller}}</li>
            <li class="w20">{{new Date(parseInt(item.time))}}</li>
          </ul>
        </div>
        <div class="block" style="text-align: center" v-if="data.length > 10">
          <el-pagination
            @size-change="handleSizeChange"
            @current-change="handleCurrentChange"
            :current-page="1"
            :page-size="10"
            layout="prev, pager, next, jumper"
            :total="data.length">
          </el-pagination>
        </div>
      </div>
      <div class="history-chart">
        <p class="history-head">最近十个交易</p>
      </div>
      <div class="chart-bar" id="historyChart"></div>
    </div>
  </div>
</template>
<script>
import fetch from 'isomorphic-fetch'
import toast from './common/toast'
import echarts from 'echarts'
export default {
  name: 'historyStatic',
  data () {
    return {
      start: -1,
      stop: 10,
      data: [],
      dataX: [],
      dataY: []
    }
  },
  created: function () {
    this.init()
  },
  methods: {
    init: function () {
      let _self = this
      fetch('/login/order/get').then(function (response) {
        return response.json()
      }).then(function (data) {
        if (data.status === 0) {
          _self.data = data.data
          _self.dataX = []
          _self.dataY = []
          for (let person in data.data) {
            _self.dataY.push(data.data[person].doller)
            _self.dataX.push(data.data[person].username)
          }
          _self.chartShow()
        } else {
          toast.methods.open(_self, 'warning', data.msg)
        }
      })
    },
    gotoDetail: function (id) {
      this.$router.push('/index/shopDetail/' + id)
    },
    handleSizeChange (val) {
      console.log(`每页 ${val} 条`)
    },
    handleCurrentChange (val) {
      this.start = (val - 1) * 10 - 1
      this.stop = this.start + 11
    },
    chartShow: function () {
      let _self = this
      window.setTimeout(function () {
        let gradeAverageStaticChart = echarts.init(document.getElementById('historyChart'))
        let option = {
          title: {
            text: ''
          },
          color: ['#3896F8'],
          tooltip: {},
          legend: {
            data: ['成交总量']
          },
          xAxis: {
            data: _self.dataX
          },
          yAxis: {},
          series: [{
            name: '成交总量',
            type: 'bar',
            data: _self.dataY
          }]
        }
        gradeAverageStaticChart.setOption(option)
      })
    }
  }
}
</script scoped>