<template>
  <div class="index a100" >
    <div class="head">
      <span class="title">商品管理平台</span>
      <span class="title-active" id="titleActive"></span>
      <ul>
          <li class="title-choice" v-on:click="checkActive">
            <router-link to="/index/AnswerTask" 
            class="title-choice" id="AnswerTask">所有商品</router-link>
          </li>
          <li class="title-choice" v-on:click="checkActive" v-if="character==='administrator'" id="taskManage">
            <router-link to="/index/taskManage" class="title-choice">管理商品</router-link>
          </li>
          <li class="title-choice" v-on:click="checkActive" v-if="character==='administrator'">
            <router-link to="/index/historyStatic" class="title-choice" id="historyStatic">商品统计</router-link>
          </li>
      </ul>
      <div class="logout">
          <span id='shoppingCarXY' v-on:click="goToShoppingCar" style="cursor: pointer">
            购物车(<span id="good_car_num" style="color: red">{{car_num?car_num:0}}</span>)
          </span>
          <span>|</span>
          <span v-on:click="userDetail" style="cursor:pointer" v-if="username">{{username?username:"未登录"}}</span>
          <span>|</span>
          <span v-on:click="logout"><router-link to="/login">{{username?'注销':'登录'}}</router-link></span>
      </div>
    </div>
     <router-view></router-view>
  </div>
</template>
<script>
import fetch from 'isomorphic-fetch'
export default {
  name: 'index',
  data () {
    return {
      checkList: this.$route.path.split('/')[2],
      username: window.localStorage.username,
      character: '',
      car_num: 0
    }
  },
  created: function () {
    let _self = this
    this.fetchData()
    window.setTimeout(function () {
      _self.checkActive()
    })
  },
  methods: {
    fetchData: function () {
      let _self = this
      fetch('/login/user/check', {
        method: 'POST',
        body: JSON.stringify({
          'email': _self.username,
          'password': window.localStorage.password
        })
      }).then(function (response) {
        return response.json()
      }).then(function (data) {
        if (data.status === 0) {
          _self.character = data.data.authority
          _self.car_num = data.data.car_num
        }
      })
    },
    userDetail: function () {
      let active = document.getElementById('titleActive')
      active.style.top = '-100%'
      this.$router.push('/index/userDetail?user=' + this.username)
    },
    checkActive: function () {
      let _self = this
      _self.checkList = _self.$route.path.split('/')[2]
      let aim = document.getElementById(_self.checkList)
      let active = document.getElementById('titleActive')
      if (aim) {
        active.style.left = aim.offsetLeft + 'px'
        active.style.top = aim.offsetTop + 'px'
      } else {
        active.style.left = -140 + 'px'
        active.style.top = 0 + 'px'
      }
    },
    goToShoppingCar: function () {
      let active = document.getElementById('titleActive')
      active.style.top = '-100%'
      this.$router.push('/index/shoppingCar')
    },
    logout: function () {
      window.localStorage.clear()
    }
  }
}
</script scoped>