<template>
  <div class="login a100">
    <div class="head">
      <span class="title">商品管理平台</span>
    </div>
    <div class="login-box">
        <div class="login-head">登录</div>
        <div class="login-body">
            <p class="login-module pr" style="text-align: right; padding-right: 20%">
              <span>用户名：</span>
              <input type="text" name="email"
                      v-model="email" style="width: 230px"
                      v-on:keyup.enter="login"
                      placeholder="用户名"
                      class="input-style">
            </p>
            <p class="login-module pr"  style="text-align: right; padding-right: 20%">
              <span>密码：</span>
              <input type="password" name="email"
                      v-model="password" style="width: 230px"
                      v-on:keyup.enter="login"
                      class="input-style">
            </p>
            <p class="login-module">
              <el-button class="button-width" v-on:click="login">
                登录 
              </el-button>
              <el-button class="button-width" v-on:click="gotoIndex">
                游客登录 
              </el-button>
            </p>
        </div>
        <div class="login-footer">
            还没有账号？<router-link to="/register" class="route-color">立即注册</router-link>
        </div>
    </div>
  </div>
</template>
<script>
  import fetch from 'isomorphic-fetch'
  import 'src/assets/main_page/login_register.css'
  export default {
    name: 'login',
    data () {
      return {
        email: '',
        password: '',
        msg: '邮箱不能为空',
        loading: false,
        post: null,
        error: null
      }
    },
    watch: {
      'email': function (newVal, oldVal) {
        if (newVal === '') {
          this.msg = '邮箱不能为空'
        } else {
          this.msg = ''
        }
      }
    },
    methods: {
      login: function (e) {
        window.localStorage.clear()
        let _self = this
        if (_self.msg === '') {
          fetch('/login/user/check', {
            method: 'POST',
            body: JSON.stringify({
              'email': _self.email,
              'password': _self.password
            })
          }).then(function (response) {
            return response.json()
          }).then(function (data) {
            if (data.status === 0) {
              _self.toast('success', data.msg)
              window.localStorage.username = data.data.username
              window.localStorage.password = _self.password
              _self.$router.push('/index')
            } else {
              _self.toast('warning', data.msg)
            }
          })
        } else {
          _self.toast('warning', _self.msg)
        }
      },
      toast: function (type, message) {
        let text = ''
        if (type === 'success') {
          text = '成功'
        } else if (type === 'warning') {
          text = '警告'
        } else {
          text = '信息'
        }
        this.$notify({
          title: text,
          message: message,
          duration: 2000,
          type: type
        })
      },
      gotoIndex: function () {
        this.$router.push('/index')
      }
    }
  }
</script scoped>
