<template>
  <div class="register a100">
    <div class="head">
      <span class="title">商品管理平台</span>
    </div>
    <div class="login-box">
      <div class="login-head">注册</div>
      <div class="login-body">
        <p class="register-module" style="text-align:right; padding-right: 20%">
          <span>用户名:</span>
          <input type="text" 
          placeholder="输入用户名" style="width: 230px"
          v-on:keyup.enter="register"
          v-model="users"
          class="input-style">
        </p>
        <p class="register-module" style="text-align:right; padding-right: 20%">
          <span>输入密码:</span>
          <input type="password" style="width: 230px"
          placeholder="输入密码" 
          v-on:keyup.enter="register"
          v-model="firstEmail"
          class="input-style">
        </p>
        <p class="register-module" style="text-align:right; padding-right: 20%">
          <span>再次输入密码:</span>
          <input type="password"  style="width: 230px"
          v-model="secondEmail"
          v-on:keyup.enter="register"
          placeholder="再次输入密码" 
          class="input-style">
        </p>
        <p class="register-module">
          <button class="login-button" v-on:click="register">注册</button>
        </p>
      </div>
      <div class="login-footer">
        已有账号？<router-link to="/login" class="route-color">立即登录</router-link>
      </div>
    </div>
  </div>
</template>
<script>
import fetch from 'isomorphic-fetch'
import 'src/assets/main_page/login_register.css'
export default {
  name: 'register',
  data () {
    return {
      firstEmail: '',
      secondEmail: '',
      users: '',
      msg: '请输入您的用户名'
    }
  },
  methods: {
    checkEmail: function () {
      if (this.firstEmail === '') {
        this.msg = '密码未输入，请输入'
      } else if (this.firstEmail !== this.secondEmail) {
        this.msg = '两次输入的密码不对应，请重新输入'
      } else if (this.users === '') {
        this.msg = '请输入用户名'
      } else {
        this.msg = ''
      }
    },
    register: function () {
      let _self = this
      _self.checkEmail()
      if (_self.msg === '') {
        fetch('/login/user/register', {
          method: 'POST',
          body: JSON.stringify({
            'email': _self.users,
            'password': _self.firstEmail
          })
        }).then(function (response) {
          return response.json()
        }).then(function (data) {
          if (data.status === 0) {
            _self.toast('success', data.msg)
            _self.$router.push('/login')
          } else {
            _self.toast('warning', data.msg)
          }
        })
      } else {
        _self.toast('warning', _self.msg)
      }
    },
    toast: function (type, message) {
      let text = ''
      if (type === 'success') {
        text = '成功'
      } else if (type === 'warning') {
        text = '警告'
      } else {
        text = '信息'
      }
      this.$notify({
        title: text,
        message: message,
        duration: 2000,
        type: type
      })
    }
  }
}

</script scoped>
