<template>
    <div class="index-content-box a100" >
        <p class="index-content-title">购物车详情</p>
        <div class="content-box">
            <div class="head-box">
                <span>全部商品</span>
                <div class="doller-total">
                  <span class="doller-remain">已选商品,总价为:<i style="font-weight:800;color: black">￥{{dollerBalance}}</i></span>
                  <span class="doller-balance" v-on:click="payShopCar">结算</span>
                </div>
            </div>
            <div class="all-car-shop-box">
              <p class="no_shop_style" v-if="data.length === 0">购物车空空一片</p>
              <ul class="a100 small-car-box"  v-for="item, index in data" v-if="data.length>0">
                  <li class="w10" style="text-align: center;line-height: 70px">
                    <el-checkbox v-model="checked[index]" checked></el-checkbox>
                  </li>
                  <li class="w25">
                      <img :src="item.detail.shopPicture" alt="图片加载失败" style="width: 70px;height: 70px">
                      <div style="width: calc(100% - 70px); float: right;padding-left:15px">
                        <p style="font-size: 18px;font-weight: 600; padding: 10px 0">{{item.detail.shopName}}</p>
                        <p>商品分类:{{item.detail.shopType}}</p>
                      </div>
                  </li>
                  <li class="w15" style="line-height:70px">库存量:{{item.detail.shopNumber}}</li>
                  <li class="w15" style="line-height:70px;font-size: 18px;font-weight: 600;"><i>￥</i>{{item.detail.shopPrice}}</li>
                  <li class="w25" style="padding: 15px 0">
                    <el-input-number v-model="item.num" :min="1" :max="item.detail.shopNumber" @change="getTotal"></el-input-number>
                    </li>
                  <li class="w10 car-delete-button" v-on:click="deleteCar(item.detail._id, index)">移除</li>
              </ul>
            </div>
        </div>
    </div>
</template>
<script>
import toast from './common/toast'
import fetch from 'isomorphic-fetch'

export default {
  name: '',
  data () {
    return {
      radio: 1,
      dollerBalance: 0,
      checked: [],
      data: [],
      order: []
    }
  },
  watch: {
    'checked': function (newVal, oldVal) {
      this.getTotal()
    }
  },
  created: function () {
    this.init()
  },
  methods: {
    init: function () {
      let _self = this
      fetch('/login/car/get?username=' + window.localStorage.username).then(function (response) {
        return response.json()
      }).then(function (data) {
        if (data.status === 0) {
          _self.data = data.data
          _self.getTotal()
        } else {
          toast.methods.open(_self, 'warning', data.msg)
        }
      })
    },
    getTotal: function () {
      this.dollerBalance = 0
      this.order = []
      for (let member in this.checked) {
        if (this.checked[member]) {
          this.$nextTick(function () {
            let obj = {
              'id': this.data[member]['detail']['_id'],
              'num': this.data[member]['num']
            }
            this.order.push(obj)
            this.dollerBalance = this.dollerBalance + this.data[member]['detail']['shopPrice'] * this.data[member]['num']
          })
        }
      }
    },
    deleteCar: function (id, index) {
      let _self = this
      this.$confirm('确定将此商品移除购物车？', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        fetch('login/car/delete?username=' + window.localStorage.username + '&id=' + id).then(function (response) {
          return response.json()
        }).then(function (data) {
          if (data.status === 0) {
            _self.init()
            _self.checked.splice(index, 1)
            document.getElementById('good_car_num').innerHTML = data.data
            toast.methods.open(_self, 'success', data.msg)
          }
        })
      }).catch(() => {
      })
    },
    payShopCar: function () {
      let _self = this
      let user = window.localStorage.username
      let data = JSON.stringify({
        'username': user,
        'doller': _self.dollerBalance,
        'goods': _self.order,
        'time': Number(new Date())
      })
      this.$confirm('确认支付？总计' + _self.dollerBalance, '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        if (_self.dollerBalance === 0) {
          toast.methods.open(_self, 'warning', '请先添加商品')
        } else {
          fetch('/login/car/pay', {
            method: 'POST',
            body: data
          }).then(function (response) {
            return response.json()
          }).then(function (data) {
            if (data.status === 0) {
              _self.init()
              _self.checked = []
              toast.methods.open(_self, 'success', data.msg)
              document.getElementById('good_car_num').innerHTML = data.data
            }
          }).catch(() => {
          })
        }
      })
    }
  }
}
</script scoped>