<template>
  <div class="index-content-box a100" >
    <div class="index-content-title">
      <router-link to="/index/AnswerTask" style="color:black">所有商品</router-link>
      <span>></span> 
      <span>商品详情</span>
    </div>
    <div class="content-box">
        <marquee style="margin-bottom: 25px">
            <span>欢迎查看本商品,此商品为开放商品，如喜欢商品，细节方面可以跟商家联系,如需要知道该商品更详细的资料可联系下方的商家</span>
        </marquee>
        <div style="position: relative">
          <div class="shop-detail-box">
              <img :src="data.shopPicture" alt="图片加载失败" class="detail-img">
          </div>
          <div class="shop-detail-description-box" style="position: absolute">
              <p class="detail-font-title m25">{{data.shopName?data.shopName:'未查到此商品'}}</p>
              <p class="m25">
                  <span>促销价：</span>
                  <span class="detail-price-show"><i class="icon">￥</i>{{data.shopPrice?data.shopPrice:0}}</span>
              </p>
              <p class="m25">
                  <span style="height: 39px; line-height: 39px; float: left">购买数量：</span>
                  <el-input-number v-model="num" :step="1" :min="1" :max="data.shopNumber"></el-input-number>
                  <span style="height: 39px; line-height: 39px; position: absolute">库存量：{{(data.shopNumber)?(data.shopNumber):0}}件</span>
              </p>
              <p class="m25">
                  <span>商品来源:</span>
                  <span v-if="data.auth" class="operat-button" style="cursor: pointer" v-on:click="userDetail">{{data.auth}}</span>
                  <span v-if="!data.auth">匿名商家</span>
              </p>
              <p class="m25">
                  <span>商品介绍： {{data.shopDescription}}</span>
              </p>
              <p class="m25" style="position: absolute; bottom: 0">
                  <el-button class="search-button" v-on:click="addCar($event, data._id, data.shopPicture)">加入购物车</el-button>            
                  <el-button class="pre-next-button" v-on:click="cancel">取消</el-button>
              </p>
          </div>
        </div>
        <div>
            <p class="same_shop_title">同款商品：</p>
            <div class="outside-goods-box" v-if="same_shop.length > 0">
              <div class="inside-goods_box" v-for="shopDetail in same_shop" v-on:click="goShopDetail(shopDetail._id)">
                <p class="showDescription" style="font-size: 16px;text-indent: 0; color: black">{{shopDetail.shopName}}</p>
                <img :src="shopDetail.shopPicture" alt="图片加载错误" class="shopImg" />
                <div class="shop-description-box">
                <p>
                    <span class="priceShow">
                    <i class="icon">￥</i>
                    {{shopDetail.shopPrice}}
                    </span>
                    <span class="payPeople">{{shopDetail.payPeople?(shopDetail.payPeople):0}} 人付款</span>
                </p>
                <p class="showDescription">
                    {{shopDetail.shopDescription}}
                </p>
                <p>
                    <button class="operat-button" style="height: 34px" v-on:click="goShopDetail(shopDetail._id)">详情</button>
                </p>
                </div>
            </div>
          </div>
          <p v-if="same_shop.length === 0" class="no_shop_style">暂无同款商品</p>
        </div>
    </div>
  </div>
</template>
<script>
import toast from './common/toast'
import fetch from 'isomorphic-fetch'
export default {
  name: 'shopDetail',
  data () {
    return {
      num: 1,
      data: {},
      same_shop: []
    }
  },
  created: function () {
    this.init()
  },
  methods: {
    init: function () {
      let _self = this
      fetch('/login/search/member?_id=' + this.$route.params.goods_id).then(function (response) {
        return response.json()
      }).then(function (data) {
        if (data.status === 0) {
          _self.data = data.data.detail
          _self.same_shop = data.data.same_style
        } else {
          toast.methods.open(_self, 'warning', '该商品可能已下架，无该商品信息')
        }
      })
    },
    goShopDetail: function (id) {
      this.$router.push('/index/shopDetail/' + id)
      this.init()
    },
    cancel: function () {
      this.$router.push('/index')
    },
    userDetail: function () {
      let active = document.getElementById('titleActive')
      active.style.top = '-100%'
      this.$router.push('/index/userDetail?user=' + this.data.auth)
    },
    addCar: function (e, id, imgSrc) {
      let _self = this
      let img = document.createElement('img')
      let check1 = false
      let check2 = false
      img.src = imgSrc
      img.style.width = 30 + 'px'
      img.style.height = 30 + 'px'
      img.style.top = e.screenY + document.body.scrollTop + 'px'
      img.style.left = e.screenX + document.body.scrollLeft + 'px'
      img.style.position = 'absolute'
      document.body.append(img)
      let carXY = document.getElementById('shoppingCarXY')
      let topBetween = (carXY.offsetTop - e.screenY) / 100
      let leftBetween = (carXY.offsetLeft - e.screenX) / 100
      let start = setInterval(function () {
        img.style.top = parseInt(img.style.top) + topBetween + 'px'
        if (parseInt(img.style.top) < carXY.offsetTop) {
          clearInterval(start)
          check1 = true
          if (check2) {
            document.body.removeChild(img)
          }
        }
      }, 1)
      let start2 = setInterval(function () {
        img.style.left = parseInt(img.style.left) + leftBetween + 'px'
        if (parseInt(img.style.left) > parseInt(carXY.offsetLeft)) {
          clearInterval(start2)
          check2 = true
          if (check1) {
            document.body.removeChild(img)
          }
        }
      }, 1)
      // 存入数据库
      fetch('/login/car/add', {
        method: 'POST',
        body: JSON.stringify({
          'users': window.localStorage.username,
          'goods_id': id,
          'num': _self.num
        })
      }).then(function (response) {
        return response.json()
      }).then(function (data) {
        if (data.status === 0) {
          document.getElementById('good_car_num').innerHTML = data.data
          // toast.methods.open(_self, 'success', data.msg)
        } else {
          toast.methods.open(_self, 'warning', data.msg)
        }
      })
    }
  }
}
</script scoped>