<template>
  <div class="index-content-box a100" >
    <p class="index-content-title">商品列表</p>
    <div class="content-box">
      <div class="index-search-box">
        <div class="index-search-question-box w25">
          <span class="index-search-four-font">商品名称：</span>
          <input class="index-search-four-input" type="text" 
          placeholder="输入任务名称" 
          v-on:keyup.enter="typeChoose('name', shopName)"
          v-model="shopName">
        </div>
        <div class="index-search-question-box w20">
          <button class="search-button" v-on:click="typeChoose('name', shopName)">查询</button>
        </div>
      </div>
      <div class="index-search-box">
        <div class="index-search-question-box">
          <span class="index-search-four-font" style="height: auto;line-height: 16px">商品类型：</span>
          <div class="choose-box">
            <span v-for="item in typeChoice" v-on:click="typeChoose('type', item)" :class="{'choose': item === shopType}">
              {{item}}
            </span>
          </div>
        </div>
      </div>
      <div class="index-search-box">
        <div class="index-search-question-box">
          <span class="index-search-four-font" style="height: auto;line-height: 16px">商品价格：</span>
          <div class="choose-box">
            <span v-on:click="typeChoose('price', '全部')"
            :class="{'choose': '全部' === startPrice}">全部</span>
            <span v-for="price in priceChoice" 
            v-on:click="typeChoose('price', parseInt(price))" 
            :class="{'choose': parseInt(price) === parseInt(startPrice)}">
              {{price}}
            </span>
          </div>
        </div>
      </div>
      <p class="table-total">
        <span>共{{data.length}}个商品</span>
        <span class="create-box">
          <router-link to="/index/taskManage/create"><button class="search-button">新建商品</button></router-link>
        </span>
      </p>
      <div class="table-box">
        <ul class="table-head a100 disIn clearfix">
          <li class="w10">商品logo</li>
          <li class="w35">商品名称</li>
          <li class="w10">商品库存</li>
          <li class="w15">商品类型</li>
          <li class="w15">成交量</li>
          <li class="w15">操作</li>
        </ul>
        <p v-if="data.length === 0" class="no_shop_style">暂无符合条件的商品</p>
        <div class="table-body" v-if="data.length > 0">
          <ul class="a100 disIn clearfix" v-for="item, index in data" v-if="index>start &&index<stop">
            <li class="w10"><img :src="item.shopPicture" alt="" style="width: 30px; height: 30px; margin: 8px 0;"></li>
            <li class="w35">{{item.shopName}}</li>
            <li class="w10">{{item.shopNumber}}</li>
            <li class="w15">{{item.shopType}}</li>
            <li class="w15">{{item.payPeople?item.payPeople:0}}</li>
            <li class="w15">
              <button class="operat-button" v-on:click="goods_edit(item._id)">编辑</button>
              <el-button class="operat-button" @click.native="closeQuestion('up', item._id)" v-if="item.status === 0">上架</el-button>
              <el-button class="operat-button" @click.native="closeQuestion('down', item._id)" v-if="item.status === 1">下架</el-button>              
              <el-button class="operat-button" @click.native="closeQuestion('delete', item._id)">删除</el-button>
            </li>
          </ul>
        </div>
        <div class="block" style="text-align: center" v-if="data.length > 10">
          <el-pagination
            @size-change="handleSizeChange"
            @current-change="handleCurrentChange"
            :current-page="1"
            :page-size="10"
            layout="prev, pager, next, jumper"
            :total="data.length">
          </el-pagination>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import fetch from 'isomorphic-fetch'
import toast from './common/toast'
import 'src/assets/main_page/index.css'
export default {
  name: 'AnswerTask',
  data () {
    return {
      priceChoice: ['0~200', '200~399', '400~599', '600~799', '800~999', '1000以上'],
      typeChoice: ['全部', '衣服', '商品', '医药', '水果', '零食', '电器', '家具', '书籍', '瓷器', '其他'],
      shopName: '',
      shopType: '全部',
      startPrice: '全部',
      start: -1,
      stop: 10,
      data: []
    }
  },
  created: function () {
    this.init()
  },
  methods: {
    init: function () {
      let _self = this
      fetch('/login/search/admin?shopName=' + _self.shopName + '&shopType=' + _self.shopType + '&priceStart=' + _self.startPrice + '&user=' + window.localStorage.username).then(function (response) {
        return response.json()
      }).then(function (data) {
        if (data.status === 0) {
          _self.data = data.data
        } else {
          toast.methods.open(_self, 'warning', '获取数据失败')
        }
      })
    },
    goods_edit: function (id) {
      this.$router.push('/index/taskManage/create?id=' + id)
    },
    closeQuestion: function (type, id) {
      let _self = this
      fetch('login/edit/' + type + '?id=' + id).then(function (response) {
        return response.json()
      }).then(function (data) {
        if (data.status === 0) {
          _self.init()
          toast.methods.open(_self, 'success', data.msg)
        }
      })
    },
    typeChoose: function (type, detail) {
      if (type === 'type') {
        this.shopType = detail
      } else if (type === 'price') {
        this.startPrice = detail
      } else if (type === 'name') {
        this.shopName = detail
      }
      this.init()
    },
    goShopDetail: function (id) {
      this.$router.push('/index/shopDetail/' + id)
    },
    goShopCar: function (e, id) {
      e.stopPropagation()
    },
    handleSizeChange (val) {
      console.log(`每页 ${val} 条`)
    },
    handleCurrentChange (val) {
      this.start = (val - 1) * 10 - 1
      this.stop = this.start + 11
    }
  }
}
</script scoped>