<template>
  <div class="index-content-box" >
    <p class="index-content-title">
        <router-link to="/index/taskManage" style="color:black">商品管理</router-link>
        <span>></span> 
        <span>新增商品</span>
    </p>
    <div class="content-box">
        <p class="m25">
            <span class="index-search-four-font">商品名称：</span>
            <input class="index-create-four-input" 
            type="text" :disabled="create_or_edit === 'edit'"
            placeholder="请输入商品名称" 
            v-model="data.shopName">
        </p>
        <p class="m25 clearfix pr">
            <span class="index-search-four-font">商品图片：</span>
            <span v-if="data.shopPicture == ''" class="uploadShow">+ 上传图片</span>
            <img v-if="data.shopPicture != ''" class="uploadShow" :src="data.shopPicture" alt="暂无" /> 
            <input type="file" class="uploadInput" v-on:change="fileUpload">
        </p>
        <p class="m25 clearfix">
            <span class="index-search-four-font">商品类型：</span>
             <el-select v-model="data.shopType" placeholder="请选择商品类型" 
             :disabled="create_or_edit === 'edit'"
             class="index-search-four-font" style="width: 350px">
              <el-option
                v-for="item in typeChoice"
                :label="item"
                :value="item">
              </el-option>
            </el-select>
        </p>
        <p class="m25 clearfix">
            <span class="index-search-four-font">商品数量：</span>
            <input type="number" id="" class="index-create-four-select" v-model="data.shopNumber">
        </p>
        <p class="m25">
            <span class="index-search-four-font">商品价格：</span>
            <input type="number" id="" class="index-create-four-select" v-model="data.shopPrice">
            <span>元</span>
        </p>
        <p class="m25">
            <span class="index-search-four-font">商品描述：</span>
            <textarea id="" class="index-create-textarea" v-model="data.shopDescription" placeholder="请输入商品详情">
            </textarea>
        </p>
        <p class="m25">
          <span class="index-search-four-font" style="height: 20px; line-height: 20px">匿名出售：</span>
            <el-radio class="radio" v-model="authChoice" label="1">是</el-radio>
            <el-radio class="radio" v-model="authChoice" label="2">否</el-radio>
            <span>展示商家可查看商家所有产品</span>
        </p>
        <p class="m25 left-gap">
            <el-button class="search-button" @click.native="createTask('create')" v-if="create_or_edit === 'create'">创建</el-button>       
            <el-button class="search-button" @click.native="createTask('edit')" v-if="create_or_edit === 'edit'">编辑</el-button>        
            <el-button class="pre-next-button" @click.native="cancel">取消</el-button>
        </p>
    </div>
  </div>
</template>
<script>
import toast from './common/toast'
import fetch from 'isomorphic-fetch'
export default {
  name: 'taskCreate',
  data () {
    return {
      data: {
        shopName: '',
        shopType: '',
        shopPicture: '',
        shopNumber: 1000,
        shopPrice: '',
        shopDescription: '',
        auth: '',
        shopAuth: window.localStorage.username
      },
      create_or_edit: 'create',
      authChoice: '1',
      typeChoice: ['衣服', '商品', '医药', '水果', '零食', '电器', '家具', '书籍', '瓷器', '其他'],
      vaildata: {
        msg: '输入完整信息'
      }
    }
  },
  created: function () {
    if (this.$route.fullPath.split('?')[1]) {
      this.create_or_edit = 'edit'
      this.init(this.$route.fullPath.split('?')[1].split('=')[1])
    }
  },
  methods: {
    init: function (id) {
      let _self = this
      fetch('/login/search/member?_id=' + id).then(function (response) {
        return response.json()
      }).then(function (data) {
        if (data.status === 0) {
          _self.data = data.data.detail
        } else {
          toast.methods.open(_self, 'warning', '该商品可能已下架，无该商品信息')
        }
      })
    },
    fileUpload: function (e) {
      let _self = this
      let reader = new window.FileReader()
      let file = e.target.files[0]
      let ext = file.name.substring(file.name.lastIndexOf('.') + 1).toLowerCase()
      if (!window.FileReader) {
        console.log('浏览器不支持这玩意')
      } else if (!window.Image) {
        console.log('浏览器暂不支持')
      }
      if (ext !== 'jpg' && ext !== 'jpeg' && ext !== 'png') {
        toast.methods.open(this, 'warning', '您上传的图片格式不正确,请重新上传')
        return
      }
      reader.readAsDataURL(file)// zhuan
      reader.onload = function (e) {
        _self.data.shopPicture = reader.result
      }
    },
    cancel: function () {
      this.$confirm('此操作将不保存该信息, 是否继续?', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        this.$router.push('/index/taskManage')
      }).catch(() => {
      })
    },
    vailData: function () {
      if (this.authChoice === '1') {
        this.data.auth = window.localStorage.username
      }
      for (let key in this.data) {
        if (this.data[key] === '' && key !== 'auth') {
          toast.methods.open(this, 'warning', key + '内容未填写或选择')
          return false
        }
      }
      return true
    },
    createTask: function (type) {
      let _self = this
      if (_self.vailData()) {
        _self.$confirm('确认提交此任务？', '提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        }).then(() => {
          fetch('/login/create/create_goods/' + type, {
            method: 'POST',
            body: JSON.stringify(_self.data)
          }).then(function (response) {
            return response.json()
          }).then(function (data) {
            if (data.status === 0) {
              toast.methods.open(_self, 'success', '创建任务成功')
              _self.$router.push('/index/taskManage')
            } else {
              toast.methods.open(_self, 'warning', data.msg)
            }
          })
        }).catch(() => {
        })
      }
    }
  }
}
</script scoped>