<template>
  <div class="index-content-box a100" >
    <p class="index-content-title">
        <router-link to="/index/taskManage" style="color:black">任务管理</router-link>
        <span>></span> 
        <span>任务统计</span>
    </p>
    <div class="content-box">
        <p class="m30"> 
            <span class="index-detail-four-font">任务信息</span>
            <span class="index-detail-line"></span>
        </p>
        <div>
            <p class="m25">
                <span class="index-search-four-font">任务名称：</span>
                <span>xxx情感标注</span>
            </p>
            <p class="m25">
                <span class="index-search-four-font">答题规则：</span>
                <span>XXX.pdf</span>
            </p>
            <p class="m25">
                <span class="index-search-four-font">数据源选择：</span>
                <span>DASDFASDFDsadf</span>
            </p>
            <p class="m25">
                <span class="index-search-four-font">副本数量：</span>
                <span>15</span>
            </p>
            <p class="m25">
                <span class="index-search-four-font">题目类型：</span>
                <span>单选</span>
            </p>
        </div>
        <p class="m30">
            <span class="index-detail-four-font">会话统计</span>
            <span class="index-detail-line"></span>
        </p>
        <div class="m30">
            <p>
                <span class="index-search-four-font">答题进度：</span>
                <span>xxx情感标注</span>
            </p>
            <p class="m25">
                <span class="index-search-four-font">答题数量：</span>
                <span>XXX.pdf</span>
            </p>
            <p class="m25">
                <span class="index-search-four-font">跳过题目数量：</span>
                <span>DASDFASDFD</span>
            </p>
            <p class="m25">
                <span class="index-search-four-font">耗时：</span>
                <span>15</span>
            </p>
        </div>
    </div>
  </div>
</template>
<script>
export default {
  name: 'taskStatic',
  data () {
    return {
    }
  }
}
</script scoped>