<template>  
    <div class="index-content-box a100" >
        <p class="index-content-title">用户详情</p>
        <div class="content-box">
            <div class="left-info">
               <p class="person-info-title">基本信息</p>
               <p class="person-info">
                   <span>名称：</span>
                   <span>{{userInfo.username?userInfo.username:decodeURI($route.fullPath.split('?')[1].split('=')[1])}}</span>
               </p>
               <p class="person-info">
                   <span>性别：</span>
                   <span v-if="beginEdit === 'no'">{{userInfo.sex?userInfo.sex:'无可奉告'}}</span>
                   <el-select v-model="userInfo.sex" placeholder="请选择" v-if="beginEdit === 'yes'">
                        <el-option
                        v-for="item in options"
                        :value="item">
                        </el-option>
                    </el-select>
               </p>
               <p class="person-info">
                   <span>电话：</span>
                   <span v-if="beginEdit === 'no'">{{userInfo.phone?userInfo.phone:'无可奉告'}}</span>
                   <el-input v-if="beginEdit === 'yes'" v-model="userInfo.phone" placeholder="输入电话"></el-input>
               </p>
               <p class="person-info">
                   <span>微信：</span>
                   <span v-if="beginEdit === 'no'">{{userInfo.weChart?userInfo.weChart:'无可奉告'}}</span>
                   <el-input v-if="beginEdit === 'yes'" v-model="userInfo.weChart" placeholder="输入微信号"></el-input>
               </p>
               <p class="person-info">
                   <span>地址：</span>
                   <span v-if="beginEdit === 'no'">{{userInfo.address?userInfo.address:'无可奉告'}}</span>
                   <el-input v-if="beginEdit === 'yes'" v-model="userInfo.address" placeholder="输入地址"></el-input>
               </p>
               <div v-if="operation === 'edit'">
                   <p class="person-info-title">账户安全</p>
                   <p class="person-info">
                        <span>原密码：</span>
                        <span v-if="beginEdit === 'no'">隐藏信息</span>
                        <el-input v-if="beginEdit === 'yes'" v-model="userInfo.password" type="password" placeholder="输入原密码"></el-input>
                    </p>
                    <p class="person-info">
                        <span>新密码：</span>
                        <span v-if="beginEdit === 'no'">隐藏信息</span>
                        <el-input v-if="beginEdit === 'yes'" v-model="userInfo.firstNew" type="password" placeholder="输入新密码"></el-input>
                    </p>
                    <p class="person-info">
                        <span>再次输入密码：</span>
                        <span v-if="beginEdit === 'no'">隐藏信息</span>
                        <el-input v-if="beginEdit === 'yes'" v-model="userInfo.secondNew" type="password" placeholder="再次输入新密码"></el-input>
                    </p>
                    <div>
                        <el-button class="button-width" v-if="beginEdit === 'no'" v-on:click='changeEdit'>
                            修改信息 
                        </el-button>
                        <el-button class="operat-button" v-if="beginEdit === 'yes'" v-on:click='init'>
                            取消
                        </el-button>
                        <el-button class="search-button" v-if="beginEdit === 'yes'" v-on:click='saveInfo'>
                            保存 
                        </el-button>
                    </div>
                    <p style="margin-top: 10px;color:rgba(0,0,0.5)">如需修改个人信息，必须填入密码</p>
               </div>
            </div>
            <div class="right-info">
                <p class="table-total" style="margin-left: 100px; border-bottom: 2px solid rgba(0,0,0,.3);width: calc(100% - 200px)">
                    <span>商家所有商品</span>
                    <span style="float:right">共{{data.length}}个商品</span>
                </p>
                <div class="table-box" style="margin-left: 100px">
                    <div class="outside-goods-box" v-if="data.length > 0">
                    <div class="inside-goods_box" v-for="shopDetail, index in data" style="width: 20%"
                    v-if="index>start && index<stop"
                    v-on:click="goShopDetail(shopDetail._id)">
                        <p class="showDescription" style="font-size: 16px;text-indent: 0; color: black">{{shopDetail.shopName}}</p>
                        <img :src="shopDetail.shopPicture" alt="图片加载错误" class="shopImg" />
                        <div class="shop-description-box">
                        <p>
                            <span class="priceShow">
                            <i class="icon">￥</i>
                            {{shopDetail.shopPrice}}
                            </span>
                            <span class="payPeople">{{shopDetail.payPeople?(shopDetail.payPeople):0}} 人付款</span>
                        </p>
                        <p class="showDescription">
                            {{shopDetail.shopDescription}}
                        </p>
                        <p>
                            <button class="operat-button" style="height: 34px; float:left" v-on:click="goShopDetail(shopDetail._id)">详情</button>
                            <button class="search-button fr" v-on:click="addCar($event, shopDetail._id, shopDetail.shopPicture)" v-if="operation === 'scan'">加入购物车</button>
                            <button class="search-button fr" v-on:click="goods_edit($event, shopDetail._id)" v-if="operation === 'edit'">编辑</button>
                        </p>
                        </div>
                    </div>
                    </div>
                    <p class="no_shop_style" v-if="data.length === 0">暂无符合条件的商品</p>
                    <div class="block" style="text-align: center" v-if="data.length > 12">
                    <el-pagination
                        @size-change="handleSizeChange"
                        @current-change="handleCurrentChange"
                        :current-page="1"
                        :page-size="12"
                        layout="prev, pager, next, jumper"
                        :total="data.length">
                    </el-pagination>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import fetch from 'isomorphic-fetch'
import toast from './common/toast'

export default {
  name: 'userDetail',
  data () {
    return {
      options: ['男', '女', '不祥'],
      data: [],
      shopName: '',
      shopType: '全部',
      startPrice: '全部',
      start: -1,
      stop: 10,
      username: '',
      operation: 'scan',
      userInfo: {
        password: '',
        firstNew: '',
        secondNew: ''
      },
      beginEdit: 'no'
    }
  },
  created: function () {
    if (decodeURI(this.$route.fullPath.split('?')[1].split('=')[1]) === window.localStorage.username) {
      this.operation = 'edit'
    } else {
      this.operation = 'scan'
    }
    this.init()
    this.initRight()
  },
  watch: {
    '$route.fullPath': function (oldVal, newVal) {
      if (decodeURI(this.$route.fullPath.split('?')[1].split('=')[1]) === window.localStorage.username) {
        this.operation = 'edit'
      } else {
        this.operation = 'scan'
      }
      this.init()
      this.initRight()
    }
  },
  methods: {
    init: function () {
      let _self = this
      _self.beginEdit = 'no'
      fetch('/login/user/get', {
        method: 'POST',
        body: JSON.stringify({
          'email': decodeURI(_self.$route.fullPath.split('?')[1].split('=')[1])
        })
      }).then(function (response) {
        return response.json()
      }).then(function (data) {
        if (data.status === 0) {
          _self.userInfo = data.data
        }
      })
    },
    initRight: function () {
      let _self = this
      let user = this.$route.fullPath.split('?')[1].split('=')[1]
      fetch('/login/search/admin?shopName=' + _self.shopName + '&shopType=' + _self.shopType + '&priceStart=' + _self.startPrice + '&user=' + user).then(function (response) {
        return response.json()
      }).then(function (data) {
        if (data.status === 0) {
          _self.data = data.data
        } else {
          toast.methods.open(_self, 'warning', '获取数据失败')
        }
      })
    },
    goShopDetail: function (id) {
      this.$router.push('/index/shopDetail/' + id)
    },
    goods_edit: function (e, id) {
      e.stopPropagation()
      this.$router.push('/index/taskManage/create?id=' + id)
    },
    changeEdit: function () {
      this.beginEdit = 'yes'
    },
    saveInfo: function () {
      let _self = this
      if (!_self.userInfo.password) {
        toast.methods.open(_self, 'warning', '修改信息需要输入旧密码')
      } else if (_self.userInfo.firstNew !== _self.userInfo.secondNew) {
        toast.methods.open(_self, 'warning', '输入两次的密码不同')
      } else {
        fetch('/login/user/edit', {
          method: 'POST',
          body: JSON.stringify(_self.userInfo)
        }).then(function (response) {
          return response.json()
        }).then(function (data) {
          if (data.status === 0) {
            _self.beginEdit = 'no'
            toast.methods.open(_self, 'success', data.msg)
            _self.userInfo = data.data
          } else {
            toast.methods.open(_self, 'warning', data.msg)
          }
        })
      }
    },
    handleSizeChange (val) {
      console.log(`每页 ${val} 条`)
    },
    handleCurrentChange (val) {
      this.start = (val - 1) * 12 - 1
      this.stop = this.start + 13
    },
    addCar: function (e, id, imgSrc) {
      e.stopPropagation()
      let _self = this
      let img = document.createElement('img')
      let check1 = false
      let check2 = false
      img.src = imgSrc
      img.style.width = 30 + 'px'
      img.style.height = 30 + 'px'
      img.style.top = e.screenY + document.body.scrollTop + 'px'
      img.style.left = e.screenX + document.body.scrollLeft + 'px'
      img.style.position = 'absolute'
      document.body.append(img)
      let carXY = document.getElementById('shoppingCarXY')
      let topBetween = (carXY.offsetTop - e.screenY) / 100
      let leftBetween = (carXY.offsetLeft - e.screenX) / 100
      let start = setInterval(function () {
        img.style.top = parseInt(img.style.top) + topBetween + 'px'
        if (parseInt(img.style.top) < carXY.offsetTop) {
          clearInterval(start)
          check1 = true
          if (check2) {
            document.body.removeChild(img)
          }
        }
      }, 1)
      let start2 = setInterval(function () {
        img.style.left = parseInt(img.style.left) + leftBetween + 'px'
        if (parseInt(img.style.left) > parseInt(carXY.offsetLeft)) {
          clearInterval(start2)
          check2 = true
          if (check1) {
            document.body.removeChild(img)
          }
        }
      }, 1)
      // 存入数据库
      fetch('/login/car/add', {
        method: 'POST',
        body: JSON.stringify({
          'users': window.localStorage.username,
          'goods_id': id,
          'num': 1
        })
      }).then(function (response) {
        return response.json()
      }).then(function (data) {
        if (data.status === 0) {
          document.getElementById('good_car_num').innerHTML = data.data
          // toast.methods.open(_self, 'success', data.msg)
        } else {
          toast.methods.open(_self, 'warning', data.msg)
        }
      })
    }
  }
}
</script scoped>