<template>
</template>
<script>
export default {
  name: 'toast',
  data () {
    return {
    }
  },
  methods: {
    open: function (obj, type, message) {
      let text = ''
      if (type === 'success') {
        text = '成功'
      } else if (type === 'warning') {
        text = '警告'
      } else {
        text = '信息'
      }
      obj.$notify({
        title: text,
        message: message,
        duration: 2000,
        type: type
      })
    }
  }
}
</script scoped>